:host{
    flex-grow: 1;
    display:  flex;
    justify-content: center;
    align-items: center;
}
div.input{
    font-size: 20px;
    position: relative;
    margin-top: 25px;
}
div.input label{
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    left: 5px;
    background: white;
    padding: 5px 2px;
}
div.input input{
    padding:  10px 20px;
    font-size: 25px;
    outline: 0;

}

