<div>
  <button mat-raised-button *ngIf="!isEditing; else editing" (click)="edit()">Spersonalizuj swój pulpit</button>
  <ng-template #editing>
    <span>
      <button mat-raised-button (click)="confirm()">Potwierdz</button>
      <button mat-raised-button (click)="cancel()">Odrzuć</button>
    </span>
    <section>
      <mat-checkbox *ngFor="let widget of widget" [checked]="widget.checked"
                    (change)="checkUncheck(widget, $event)">{{widget.options.title}}</mat-checkbox>
    </section>
  </ng-template>
</div>
<ngx-widget-grid [rows]="100" [columns]="100" [showGrid]="true">
  <span *ngFor="let widget of widget">
    <ngx-widget *ngIf="isVisible(widget)" [(position)]="widget.position" [movable]="isEditing" [resizable]="isEditing">
      <div *ngIf="widget.type == 0">
        <nav>debtors</nav>
       <!-- <app-debtor-list (selectedDebtor)="debtorLocation($event)"></app-debtor-list>-->
      </div>
      <div *ngIf="widget.type == 1">
        <nav>killers</nav>
       <!-- <app-killers-list (selectedKiller)="killerLocation($event)"></app-killers-list>-->
      </div>
      <div *ngIf="widget.type == 2">
        <nav>Map</nav>
        <!--<app-map [killer]="killers" [debtor]="debtor" [selectedKiller]="selectedKiller" [selectedDebtor]="selectedDebtors"></app-map>-->
      </div>
    </ngx-widget>
  </span>
</ngx-widget-grid>
